.container {
  background: $light-grey;
  border: 1px solid $light-grey-border;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 2rem;
}
.container__title {
  background: $foundation-blue;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.container__header {
  border-bottom: 1px solid $light-grey-border;
  padding: 1rem;

  label {
    cursor: pointer;
    font-size: 1remm;
  }

  >:last-child {
    align-items: center;
    display: flex;
  }
}

.container__footer {
  border-top: 1px solid $light-grey-border;
  padding: 1rem 1rem 0 1rem;
}

.container__message {
  color: $light-color;
  margin: 2rem auto;
  text-align: center;
}
